@model List<AhmetEmirKidik.EntityLayer.Kategori>
@{
	ViewBag.Title = "List";
}
<h2>Kategori Listesi</h2>
<a href="@Url.Action("Add")" class="btn btn-primary">Kategori Ekle</a>
<hr />
<br />
<table class="table table-borderless table-dark">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Kategori Ad</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.Ad</td>
				<td>
					<a href="@Url.Action("Delete",new { id=item.Id})" class="fa fa-trash btn btn-danger">Sil</a>
					<a href="@Url.Action("Update",new { id=item.Id})" class="fa fa-database fa-3x btn btn-info">Düzenle</a>
				</td>
			</tr>
		}

	</tbody>
</table>
