@model List<AhmetEmirKidik.EntityLayer.Urun>
@{
	ViewBag.Title = "Index";
}

<h2 class="offset-5">Yemekler</h2>

<hr />
<br />
<div class="row">
	@foreach (var item in Model)
			{
	<div class="col-md-4">
		<div class="card text-white bg-success" style="width: 18rem;">
			<img src="https://media-cldnry.s-nbcnews.com/image/upload/t_focal-758x379,f_auto,q_auto:best/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@item.Ad</h5>
				<p class="card-text">@item.Aciklama</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">@item.Kategori</li>
				<li class="list-group-item">@item.Fiyat</li>
			</ul>
			<div class="card-body">
				<a href="@Url.Action("ShowCard",new { id=item.Id})" class="card-link">İncele</a>
			</div>
		</div>
	</div>
		}


	
</div>

